<header id="header">
  <div id="navbar">
    <div class="navbar">
      <ul>
        <li>
          <a href="/scoot-project_frontend_pixel_perfect/html/about.html">About</a>
        </li>
        <li>
          <a href="/scoot-project_frontend_pixel_perfect/html/locations.html">Location</a>
        </li>
        <li>
          <a href="/scoot-project_frontend_pixel_perfect/html/careers.html">Careers</a>
        </li>
      </ul>
  
      <div class="navmenu-btn">
        <button class="navmenu-btn-hidden" type="button">Get Scootin</button>
      </div>
    </div>
    <div class="navbar-overflow"></div>
  </div>

  <a id="icon-hamburger" href="javascript:void(0);" onclick="openMenu()"><img src="./assets/icons/icon-hamburger.svg" alt="icon-hamburger"></a>
  <a id="close-button" href="javascript:void(0);" onclick="openMenu()"><img src="./assets/icons/close-menu.svg" alt="close-button"></a>

  <a class="scoot-link" href="/scoot-project_frontend_pixel_perfect/index.html"><img id="scoot-logo" src="./assets/logos/logo-scoot.jpg" alt="logo-scoot"></a>


  <nav>
    <ul>
      <li>
        <a href="/scoot-project_frontend_pixel_perfect/html/about.html">About</a>
      </li>
      <li>
        <a href="/scoot-project_frontend_pixel_perfect/html/locations.html">Location</a>
      </li>
      <li>
        <a href="/scoot-project_frontend_pixel_perfect/html/careers.html">Careers</a>
      </li>
    </ul>
  </nav>

  <button type="button">Get Scootin</button>

  <script src="../js/openNavbar.js"></script>
  <script src="../js/stickyMenuOnScroll.js"></script>
</header>