@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// colors
$yellow: #fcb72b; /* background des petits cercles*/
$dark-navy: #495567;
$grey: #333A44;
$dim-grey: #939CAA;
$light-grey: #E5ECF4;
$snow: #F2F5F9;
$light-yellow: #FFF4DF;
$white: #FFFFFF;


@media (max-width: 767px) {

    body {
        width: auto;
        margin: 0 auto;
        
        header {
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 22px 32px 22px 32px;
            width: 100%;

            #icon-hamburger {
                position: absolute;
            }

            #scoot-logo {
                margin: 0 auto;
            }
            
            nav {
                visibility: hidden;
            }

            button {
                display: none;
            }
        }

        #main-home {

            #scoot_sharing {
                background-image: url("./assets/bg-img-scoot-share-mobile.jpg");
            }
        }
    }
}

