
main{
    .wrap{
        padding: 0 32px;
        text-align: center;
        .faq{
            
            .question{
                font-family: "space Mono";
                font-weight: 700;
                color: $grey;
                background-color:$snow;
                display: flex;
            
            }
        }
    }
    
}
