
main{
    section{
        .faq{
            background-color: $snow;
            .question{
                color: $grey;
                background-color:$snow;
            }
        }
    }
    
}