button {
    background-color: $yellow;
    padding: 14px 39px 14px 39px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $white;
    border: none;
}

button:hover {
    color: $yellow;
    background-color: transparent;
    border: solid 3px $yellow;
    padding: 11px 36px 11px 36px;
}