.circle {
    border: 5px solid $yellow;
    background-color: $yellow;
    width: 96px;
     height: 96px;
    border-radius: 70%;

  p{
   
   
    font-family:  "Space Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
    text-align: center;
    color: $dark-navy;

 
  }

}
