.circle {
  border: 5px solid $yellow;
  background-color: $yellow;
  width: 96px;
  height: 96px;
  border-radius: 70%;
  padding: 34px;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-bottom: 16px;
  margin-top: -60px;
  z-index: 1;
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
    text-align: center;
    color: $dark-navy;
  }
}
