$yellow: #fcb72b; /* background des petits cercles*/
$dark-navy: #495567;
$grey: #333A44;
$dim-grey: #939CAA;
$light-grey: #E5ECF4;
$snow: #F2F5F9;
$light-yellow: #FFF4DF;
$white: #FFFFFF;
$blue: #2F3B59;

