footer {
  .footer-1 {
    padding: 88px 32px;
    background-color: $dark-navy;
    border: none;
    width: 100%;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
      font-family: "Space Mono", monospace;
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -1.4285714626312256px;
      text-align: center;
      color: $white;
    }

    .cercle {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 60%;
      width: 250%;
    }

    .cercle img {
      height: 100%;
      width: 100%;
    }

    .footer__div__download {
      display: flex;

      gap: 13px;
      justify-content: center;

    }
  }

  .footer-2 {
    background-color: $grey;
    border: none;
    width: 100%;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: 16px;
      padding-left: 0;

      li {
        a {
          text-decoration: none;
          font-family: "Space Mono", monospace;
          font-size: 15px;
          line-height: 25px;
          font-weight: 700;
          color: $dim-grey;
        }

        a:hover {
          color: $yellow;
        }
      }

    }

    .log {
      padding-top: 64px;
      padding-bottom: 42px;
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      padding-top: 85px;
      gap: 24px;

      img:hover {
        filter: brightness(0) invert(1);
      }
    }
  }
}