@media (max-width: 767px) {
        
    header {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 32px 22px 32px;
        width: 100%;

        #icon-hamburger {
            position: absolute;
        }

        #scoot-logo {
            margin: 0 auto;
        }
        
        nav {
            display: none;
        }

        button {
            display: none;
        }
    }
}

