header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 32px 22px 32px;
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 101;

    #navbar {
        display: none;
    }

    #icon-hamburger {
        position: absolute;
    }

    #close-button {
        display: none;
    }

    .scoot-link {
        margin: 0 auto;
    }
    
    nav {
        display: none;
    }


    button {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1225px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 22px 40px 22px 40px;
        width: 100%;
        position: fixed;

        #navbar {
            display: none;
        }

        #icon-hamburger {
            display: none;
        }
    
        .scoot-link {
            margin: 0;
            margin-left: 20px;
            img {
                scale: 1.5;
            }
        }
        
        nav {
            display: block;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 32px;
        }

        a {
            text-decoration: none;
            font-family: "Space Mono", monospace;
            font-size: 15px;
            line-height: 25px;
            font-weight: 700;
            color: $dim-grey;
        }

        a:hover {
            color: $yellow;
        }
    
        button {
            display: block;
        }
    }
}

@media (min-width: 1226px) {
    header {
        display: flex;
        justify-content: flex-start;
        align-items:center;
        padding: 36px 165px 36px 165px;
        width: 100%;
        position: fixed;

        #navbar {
            display: none;
        }

        #icon-hamburger {
            display: none;
        }
    
        .scoot-link {
            margin: 0;
            padding-right: 35px;
            scale: 1.2;
        }
        
        nav {
            display: block;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 32px;
        }

        a {
            text-decoration: none;
            font-family: "Space Mono", monospace;
            font-size: 15px;
            line-height: 25px;
            font-weight: 700;
            color: $dim-grey;
        }
    
        button {
            display: block;
            position: absolute;
            right: 165px;
        }
    }
}