// mobile

.index__main {

    .scoot_sharing {
        position: relative;
        height: 687px;
        background-image: url("../assets/img/bg-img-scoot-share-mobile.jpg");
        background-repeat: round;

        #arrow-to-right {
            position: absolute;
            bottom: 34px;
        }

        #straight-line {
            display: none;
        }

        #zz-arrow-to-right {
            display: none;
        }

        #circles {
            display: none;
        }

        .scoot_sharing__div {
            text-align: center;
            padding-top: 115px;
            padding-left: 32px;
            padding-right: 32px;

            h1 {
                font-family: "Space Mono", monospace;
                font-size: 40px;
                line-height: 40px;
                font-weight: 700;
                letter-spacing: -0.179;
                color: $white;
                padding-bottom: 24px;
            }

            p {
                font-family: "Lexend Deca", sans-serif;
                font-size: 15px;
                line-height: 25px;
                font-weight: 400;
                color: $white;
                padding-bottom: 34px;
            }
        }
    }

    .features {

        padding: 120px 32px 120px 32px;
        display: flex;
        flex-direction: column;
        gap: 48px;

        #grey-line-features {
            display: none;
        }

        #vert-grey-line {
            display: none;
        }

        .features__article {

            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            text-align: center;

            .features__article__img {
                background-color: $yellow;
                height: 56px;
                width: 56px;
                align-content: center;
                margin: auto;
                border-radius: 50%;

                img {
                    margin: auto;
                }
            }

            h3 {
                font-family: "Space Mono", monospace;
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
                letter-spacing: -0.089;
                color: $dark-navy;
            }

            p {
                font-family: "Lexend Deca", sans-serif;
                font-size: 15px;
                line-height: 25px;
                font-weight: 400;
                color: $dim-grey;
            }
        }
    }

    .actionfeatures {

        padding: 0px 32px 120px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 120px;
        overflow-x: hidden;

        .actionfeatures__article {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: 56px;

            .article-desc {
                display: flex;
                flex-direction: column;
                gap: 32px;
                align-items: center;
                text-align: center;

                h2 {
                    font-family: "Space Mono", monospace;
                    font-size: 32px;
                    line-height: 32px;
                    font-weight: 700;
                    letter-spacing: -0.14;
                    color: $dark-navy;
                }

                p {
                    font-family: "Lexend Deca", sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: 400;
                    color: $dim-grey;
                }
            }
        }

        .article-img {
            position: relative;

            #img-telemetry-big {
                display: none;
            }

            #img-city-big {
                display: none;
            }

            #img-payments-big {
                display: none;
            }

            .grey-round-mask {
                display: none;
            }

            .yellow-arrows {
                position: absolute;
                scale: 2.5;
            }

            .arrow-telemetry {
                left: 230px;
                top: 210px;
            }

            .arrow-city {
                scale: 1.5;
                top: 20px;
                left: -150px;
            }

            .arrow-payment {
                top: 50px;
                right: -340px;
            }
        }
    }
}




@media (min-width: 560px) {
    .index__main {
        .scoot_sharing {
            background-image: url("../assets/img/img-scooter-big.jpg");
            background-repeat: space;
            background-position: right center;
        }
    }
}




@media (min-width: 768px) and (max-width: 1225px) {
    .index__main {
        .scoot_sharing {
            position: relative;
            height: 650px;

            .scoot_sharing__div {
                padding-top: 135px;
                padding-left: 97px;
                padding-right: 97px;

                h1 {
                    font-size: 56px;
                    line-height: 56px;
                    letter-spacing: 0.25px;
                }
            }

            #arrow-to-right {
                display: none;
            }

            #zz-arrow-to-right {
                display: block;
                position: absolute;
                bottom: 40px;
                left: -140px;
            }

            #circles {
                display: block;
                position: absolute;
                bottom: 40px;
                right: 0px;
            }

        }

        .features {
            position: relative;
            padding-left: 97px;
            padding-right: 97px;

            #vert-grey-line {
                display: block;
                position: absolute;
                top: 0;
                left: 138px;
                z-index: -1;
            }

            .features__article {
                display: grid;
                row-gap: 27px;
                column-gap: 79px;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                align-items: center;
                text-align: left;

                .features__article__img {
                    grid-row: 1 / 3;
                    height: 96px;
                    width: 96px;

                    img {
                        scale: 1.8;
                    }
                }

                h3 {
                    font-family: "Space Mono", monospace;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                    letter-spacing: -0.107;
                    color: $dark-navy;
                }
            }
        }

        .actionfeatures {
            padding: 0;
            padding-bottom: 105px;

            .actionfeatures__article {
                position: relative;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
                gap: 56px;

                .article-img {
                    position: unset;

                    #img-telemetry {
                        display: none;
                    }

                    #img-telemetry-big {
                        display: block;
                    }

                    #img-city {
                        display: none;
                    }

                    #img-city-big {
                        display: block;
                    }

                    #img-payments {
                        display: none;
                    }

                    #img-payments-big {
                        display: block;
                        border-radius: 50%;
                    }

                    .grey-round-mask {
                        display: block;
                        position: absolute;
                        z-index: -1;
                        top: 0;
                    }

                    #circle-right {
                        right: 0px;
                    }

                    .yellow-arrows {
                        position: absolute;
                        scale: 1;
                    }

                    .arrow-telemetry {
                        scale: 1.2;
                        right: 0px;
                        top: 300px;
                    }

                    .arrow-payment {
                        top: 100px
                    }

                    #circle-left {
                        left: 0px;

                    }

                    #circle-right2 {
                        right: 0px;
                    }
                }

                .article-desc {
                    padding-left: 100px;
                    padding-right: 100px;

                    h2 {
                        padding-left: 60px;
                        padding-right: 60px;
                        font-size: 48px;
                        line-height: 48px;
                        font-weight: 700;
                        letter-spacing: -2.14px;
                        color: $dark-navy;
                    }
                }
            }
        }
    }
}




@media (min-width: 1226px) {
    .index__main {
        .scoot_sharing {
            position: relative;
            height: 650px;

            .scoot_sharing__div {
                padding-top: 153px;
                padding-left: 165px;
                width: 56%;

                h1 {
                    text-align: left;
                    font-size: 56px;
                    line-height: 56px;
                    letter-spacing: 0.25px;
                    padding-bottom: 40px;
                }

                p {
                    width: 90%;
                    text-align: justify;
                    padding-left: 95px;
                    padding-right: 20px;
                    padding-bottom: 40px;
                }

                button {
                    display: flex;
                    margin-left: 95px;
                }
            }

            #straight-line {
                display: block;
                position: absolute;
                left: 0px;
                bottom: 300px;
            }

            #arrow-to-right {
                display: none;
            }

            #zz-arrow-to-right {
                display: block;
                position: absolute;
                bottom: 165px;
                right: 250px;
            }

            #circles {
                display: block;
                position: absolute;
                bottom: 180px;
                right: 0px;
            }
        }

        .features {

            padding: 120px 32px 120px 165px;
            display: flex;
            flex-direction: row;
            gap: 30px;
            position: relative;
            width: 92%;

            #grey-line-features {
                display: block;
                position: absolute;
                left: 0px;
                top: 160px;
                z-index: -1;
            }

            #vert-grey-line {
                display: none;
            }

            .features__article {
                align-items: flex-start;
                text-align: left;
                width: 350px;
                gap: 30px;

                .features__article__img {
                    margin-left: 0px;
                    height: 96px;
                    width: 96px;

                    img {
                        scale: 1.8;
                    }
                }

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                    letter-spacing: -1.07px;
                }
            }
        }

        .actionfeatures {
            padding-left: 165px;
            padding-right: 155px;
            padding-bottom: 200px;
            position: relative;
            
            .actionfeatures__article {
                display: flex;
                flex-direction: row;
                gap: 220px;

                .article-img {
                    width: 445px;
                    position: unset;

                    #img-telemetry {
                        display: none;
                    }

                    #img-telemetry-big {
                        display: block;
                    }

                    #img-city {
                        display: none;
                    }

                    #img-city-big {
                        display: block;
                    }

                    #img-payments {
                        display: none;
                    }

                    #img-payments-big {
                        display: block;
                        border-radius: 50%;
                    }

                    .grey-round-mask {
                        display: block;
                        position: absolute;
                        z-index: -1;
                        top: 0;
                    }

                    #circle-right {
                        display: block;
                        right: 0;
                    }

                    .yellow-arrows {
                        position: absolute;
                        scale: 1;
                    }

                    .arrow-telemetry {
                        position: absolute;
                        right: 0px;
                        left: unset;
                        top: 300px;
                    }

                    .arrow-city {
                        left: 0px;
                        top: 550px;
                    }

                    .arrow-payment {
                        top: 1200px;
                    }

                    #circle-left {
                        left: 0px;

                    }

                    #circle-right2 {
                        right: 0px;
                        top: 1100px;
                    }
                }

                .article-desc {
                    width: 445px;
                    align-items: start;
                    gap: 24px;

                    h2 {
                        font-size: 48px;
                        font-weight: 700;
                        line-height: 48px;
                        letter-spacing: -2.14px;
                        text-align: left;

                    }

                    p {
                        text-align: justify;
                        padding-bottom: 16px;
                    }

                }
            }
            #city-near {
                flex-direction: row-reverse;
            }
        }
    }
}
