@media (max-width: 767px) {

    .index__main {

        .index__main__section__scoot_sharing {
            position: relative;
            height: 687px;
            background-image: url("../assets/img/bg-img-scoot-share-mobile.jpg");
            background-repeat: round;

            #arrow-to-right {
                position: absolute;
                bottom: 34px;
            }

            #straight-line {
                display: none;
            }

            #zz-arrow-to-right {
                display: none;
            }

            #circles {
                display: none;
            }

            .index__main__section__div {
                text-align: center;
                padding-top: 115px;
                padding-left: 32px;
                padding-right: 32px;

                h1 {
                    font-family: "Space Mono", monospace;
                    font-size: 40px;
                    line-height: 40px;
                    font-weight: 700;
                    letter-spacing: -0.179;
                    color: $white;
                    padding-bottom: 24px;
                }

                p {
                    font-family: "Lexend Deca", sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: 400;
                    color: $white;
                    padding-bottom: 34px;
                }
            }
        }

        .index__main__section__features {

            padding: 120px 32px 120px 32px;
            display: flex;
            flex-direction: column;
            gap: 48px;

            #grey-line-features {
                display: none;
            }

            .index__main__section__features__article {

                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;
                text-align: center;

                .index__main__section__features__article__img {
                    background-color: $yellow;
                    height: 56px;
                    width: 56px;
                    align-content: center;
                    margin: auto;
                    border-radius: 50%;

                    img {
                        margin: auto;
                    }
                }

                h3 {
                    font-family: "Space Mono", monospace;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 700;
                    letter-spacing: -0.089;
                    color: $dark-navy;
                }

                p {
                    font-family: "Lexend Deca", sans-serif;
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: 400;
                    color: $dim-grey;
                }
            }
        }
    }
}