main{
    .sct-map{
        padding: 0 32px;
        margin-top: 72px;
        margin-bottom: 40px;
    }

    .container-box{
        .container{

            .box{
                width: 100%;
                padding: 2rem 2.5rem;
                background-color: $yellow;
                opacity: 15%;
                overflow: hidden;
               margin-bottom: 16px;
                
                .p{

                }

            }
        }
    }
}