main {
  .sct-map {
    padding: 0 32px;
    margin-top: 72px;
    margin-bottom: 40px;
  }

  .container-box {
    .container {
      z-index: 1;
      .box {
        width: 100%;
        padding: 2rem 2.5rem;
        background-color: $yellow;
        opacity: 15%;
        overflow: hidden;
        margin-bottom: 16px;
        font-family: "Space Mono";
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -1.0714285373687744px;
        text-align: center;
        color: $dark-navy;
        z-index: 0;

        .p {
          font-family: "Space Mono";
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: -1.0714285373687744px;
          text-align: center;
          color: $dark-navy;
          z-index: 2;
        }
      }
    }
  }

  .sct-article {
    padding: 0 32px;
    .sct-article__features {
      .sct-article-txt {
        h2 {
          font-family: "Space Mono";
          font-size: 32px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: -1.4285714626312256px;
          text-align: center;
          color: $dark-navy;
          margin-top: 72px;
          margin-bottom: 32px;
        }
        p {
          font-family: Lexend Deca;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
          text-align: center;
          color: $dim-grey;
          margin-bottom: 32px;
        }
      }
      .sct-article-button {
        margin-bottom: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
