<footer>
    <div class="footer-1">
      <h2>Sign up and Scoot <br> off today</h2>
    <div class="footer__div__download">

        <img src="../assets/icons/Group 28.png" alt="apple">
        
         <img src="../assets/icons/Group 28 Copy.png" alt="android">
    </div>
      <div class="cercle">
      <img src="../assets/img/Group 22.png" alt="">
      </div>
    </div>
    <div class="footer-2">
     <div class="log">
        <img src="../assets/logos/scoot.svg" alt="titre">
     </div>
      <div class="footer-txt1">
        <p><span class="txt">About</span></p>
        <p><span class="Txt">Location</span></p>
        <p><span class="txT">Careers</span></p>
      </div>
      <div class="logo">
        <img src="../assets/icons/facebook.svg" alt="facebook"/>
        <img src="../assets/icons/twitter.svg" alt="twitter"/>
        <img src="../assets/icons/instagram.svg" alt="instagram"/>
      </div>
    </div>
  </footer>