<footer>
    <div class="footer-1">
      <h2>Sign up and Scoot off today</h2>
      <div>
        <button><img src="./assets/logos/logo-apple.png" alt=""><p>available on the</p><a href="#">Applestore</a> </button>
        <button><p>Get it on</p><a href="#">Googleplay</a></button>
      </div>
    </div>
    <div class="footer-2">
      <h2>scoot</h2>
      <div class="footer-txt1">
        <p>About</p>
        <p>Location</p>
        <p>Careers</p>
      </div>
      <div>
        <img src="./assets/icons/facebook.svg" alt="facebook"/>
        <img src="./assets/icons/twitter.svg" alt="twitter"/>
        <img src="./assets/icons/instagram.svg" alt="instagram"/>
      </div>
    </div>
  </footer>