<header>
    <a id="icon-hamburger" href="/index.html"><img src="./assets/icon-hamburger.svg" alt="icon-hamburger"></a>

    <nav>
      <ul>
        <li>
          <a href="/about.html">About</a>
        </li>
        <li>
          <a href="/location.html">Location</a>
        </li>
        <li>
          <a href="/careers.html">Careers</a>
        </li>
      </ul>
    </nav>

    <img id="scoot-logo" src="../assets/logo-scoot.jpg" alt="logo-scoot">

    <button type="button">Get Scootin</button>
</header>
