<header>
    <a id="icon-hamburger" href="/index.html"><img src="../assets/icons/icon-hamburger.svg" alt="icon-hamburger"></a>

    <img id="scoot-logo" src="../assets/logos/logo-scoot.jpg" alt="logo-scoot">
    
    <nav>
      <ul>
        <li>
          <a href="./about.html">About</a>
        </li>
        <li>
          <a href="./location.html">Location</a>
        </li>
        <li>
          <a href="./careers.html">Careers</a>
        </li>
      </ul>
    </nav>

    <button type="button">Get Scootin</button>
</header>
